[submodule "tcs-parser/tree-sitter-rust"]
	path = tcs-parser/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "tcs-parser/tree-sitter-python"]
	path = tcs-parser/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "tcs-parser/vendor/tree-sitter"]
	path = tcs-parser/vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tcs-parser/vendor/tree-sitter-rust"]
	path = tcs-parser/vendor/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "tcs-parser/vendor/tree-sitter-python"]
	path = tcs-parser/vendor/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
